{% macro _input(element) -%}
<div class="input-group input-group-outline mb-3">
    {{element.label(class="form-label")}}
    {{ element(class="form-control", onfocus="focused(this)") }}
</div>
{%- endmacro %}

{% macro _select(element) -%}
<div class="mb-3">
    {{element.label(class="form-label")}}
    {{ element(class="form-select p-3", onfocus="focused(this)") }}
  </div>
{%- endmacro %}


{% macro submit(text) -%}

<div class="text-center">
    <button type="submit" name="transfer" 
            class="btn bg-gradient-primary w-100 my-2 mb-2">{{text}}</button>
</div>

{%- endmacro %}


{% macro render(form) -%}

    {{ form.hidden_tag() }} 

    {% for f in form if f.type != 'CSRFTokenField' %}

        {% if( f.type == "SelectField" ) %}
            {{_select(f)}}
        {% elif (f.type == "MiaouField") %}
            MIAOU
        {% else %}
            {{_input(f)}}
        {% endif %}

    {% endfor %}

{%- endmacro %}