{% extends 'admin/base.html' %}

{% block brand %}
    Θέμις
{% endblock %}

{% block access_control %}
    {% if current_user.is_authenticated %}
    <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-user"></i>{{ current_user.full_name }}<span class="caret"></span>
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <i class="bi bi-box-arrow-right"></i><a class="btn" href="{{ url_for('main.logout_view') }}">Déconnexion</a>
    </div>
    </div>
    {% endif %}
{% endblock %}