{% extends 'layouts/base.html' %}
{% from "macros/form.html" import render, submit %}
{% block content %}


<div class="jumbotron">
    <div class="container">
      <h3 class="display-4">Banque de Venys</h3>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-secondary shadow-secondary border-radius-lg pt-4 pb-3">
              <h6 class="text-white ps-3">Vos comptes</h6>
            </div>
          </div>
          <div class="card-body px-0 mx-3">
            {% if comptes %}
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Libellé du compte</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Solde</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Dernière transaction</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for c in comptes %}
                    <tr>
                      <td>{{c.nom}}</td>
                      <td>{{c.montant}} Y$</td>
                      <td>{{c.last_transaction}}</td>
                      <td><a href="#">Détail</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            {% else %}
              <em>Vous n'avez pas de compte en banque.</em>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-secondary shadow-secondary border-radius-lg pt-4 pb-3">
              <h6 class="text-white ps-3">Créer un nouveau compte</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="row">
              <div class="col-12">
                <form role="form" method="post" action="{{ url_for('banque.create_account') }}" class="mx-3">

                  {{render(form)}}
                  {{submit("Créer un compte")}}
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />

    {% if comptes|length > 1 %}
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-secondary shadow-secondary border-radius-lg pt-4 pb-3">
              <h6 class="text-white ps-3">Supprimer un compte</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="row">
              <div class="col-12">
                <p class="mx-3">Vous ne pouvez pas supprimer votre compte principal. Le solde d'un compte doit être nul pour pouvoir le supprimer.</p>
                <form role="form" method="post" action="{{ url_for('banque.delete_account') }}" class="mx-3">

                  {{render(delete_form)}}
                  {{submit("Supprimer")}}

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

  </div> <!-- /container -->

  {{ super() }}

{% endblock %}

{% block actionns %}
{% endblock %}