{% extends 'layouts/base.html' %}

{% from "macros/form.html" import render, submit %}

{% block content %}


<div class="jumbotron">
    <div class="container">
      <h3 class="display-4">Banque de Venys</h3>
    </div>
</div>

<div class="container">
    {% if comptes|length > 0 %}
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-secondary shadow-secondary border-radius-lg pt-4 pb-3">
              <h6 class="text-white ps-3">Effectuer une transaction</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="row">
              <div class="col-12">
                <form role="form" method="post" action="{{ url_for('banque.transaction') }}" class="mx-3">
                    {{render(form)}}
                    {{submit("Procéder à la transaction")}}
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

  </div> <!-- /container -->

  {{ super() }}

{% endblock %}

{% block actionns %}
{% endblock %}